/* ======================== smartphone ======================== */
@media screen and (max-width: 400px) {

	#win, #lose, #plus, #minus {
		display: inline-block;
		transition: background-color 0.3s ease;
		color: #fff;
		font-weight: bold;
		text-align: center;
		letter-spacing: 1px;
		border-radius: 5px;
		border: none;
		margin: 0px 5px 0px 5px;
	}

	#win, #lose {width: 70px;}
	#plus, #minus {width: 25px;}

}

/* ======================== tablet ======================== */
@media screen and (min-width: 401px) {

	#win, #lose, #plus, #minus {
		display: inline-block;
		transition: background-color 0.3s ease;
		color: #fff;
		font-weight: bold;
		text-align: center;
		letter-spacing: 1px;
		border-radius: 5px;
		border: none;
		margin: 0px 5px 0px 5px;
	}

	#win, #lose {width: 70px;}
	#plus, #minus {width: 40px;}
}
