/* ======================== smartphone ======================== */
@media screen and (max-width: 400px) {

	#win, #lose, #plus, #minus {
		display: inline-block;
		transition: background-color 0.3s ease;
		color: #fff;
		font-weight: bold;
		text-align: center;
		letter-spacing: 1px;
		border-radius: 5px;
		border: none;
		margin: 0px 5px 0px 5px;
	}

	#win, #lose {width: 70px;}
	#plus, #minus {width: 25px;}

}

/* ======================== tablet ======================== */
@media screen and (min-width: 401px) and (max-width: 1024px) {

	#win, #lose, #plus, #minus {
		display: inline-block;
		transition: background-color 0.3s ease;
		color: #fff;
		font-weight: bold;
		text-align: center;
		letter-spacing: 1px;
		border-radius: 5px;
		border: none;
		margin: 0px 5px 0px 5px;
	}

	#win, #lose {width: 70px;}
	#plus, #minus {width: 40px;}
}

/* ======================== pc ======================== */
@media screen and (min-width: 1024px) {

	#win {
		display: inline-block;
		padding: 10px 20px;
		margin: 0px;
		border: none;
		color: #fff;
		font-size: 2vw;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 5px;
		transition: background-color 0.3s ease;
		cursor: pointer;
		width: 15%;
	}

	#plus {
		display: inline-block;
		border: none;
		color: #fff;
		font-size: 2vw;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 5px;
		transition: background-color 0.3s ease;
		cursor: pointer;
		width: 4%;
		padding: 5px;
	}

	#lose {
		display: inline-block;
		padding: 10px 20px;
		margin: 0px;
		border: none;
		color: #fff;
		font-size: 2vw;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 5px;
		transition: background-color 0.3s ease;
		cursor: pointer;
		width: 15%;
	}

	#minus {
		display: inline-block;
		border: none;
		color: #fff;
		font-size: 2vw;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 5px;
		transition: background-color 0.3s ease;
		cursor: pointer;
		width: 4%;
		padding: 5px;
	}

}